@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 300;
    src: local('나눔스퀘어라운드OTF Light'),
    url(../fonts/NanumSquareRoundOTFL.otf);
}

@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 400;
    src: local('나눔스퀘어라운드OTF Regular'),
    url(../fonts/NanumSquareRoundOTFR.otf);
}

@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 800;
    src: local('나눔스퀘어라운드OTF Bold'),
    url(../fonts/NanumSquareRoundOTFB.otf);
}

@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 900;
    src: local('나눔스퀘어라운드OTF ExtraBold'),
    url(../fonts/NanumSquareRoundOTFEB.otf);
}