@import url(./font.scss);

:root {
    --bg: #FAF5EA;
    --main: #2C8464;
    --d-brown: #36332E;
    --input_line: #6A6253;
    --grey3: #707273;
    --default: #A7A49E;
    --light: #DAD7D2;
    --input: #E9E1D3;
    --text: #1F1E1C;
}

html {
    background-color: var(--bg);
}

body {
    margin: 0;
}

body,
button,
::placeholder {
    font-family: 'NanumSquareRound';
}

#app {
    max-width: 400px;
}

.bottom_action_group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.elevated_button {
    box-sizing: border-box;
    border-radius: 12px;
    height: 56px;
    font-size: 20px;
    width: 100%;

    .small {
        border-radius: 10px;
    }
}

.primary_button {
    background-color: var(--main);
    border-width: 0;
    color: white;
}

.second_button {
    background-color: white;
    border: 1px solid var(--d-brown);
}

.icon_button {
    border-width: 0;
    background-color: transparent;
    padding: 0;
}

.base_padding_x {
    padding-left: 20px;
    padding-right: 20px;
}

.input_line {
    color: var(--input_line);
}

.d-brown {
    color: var(--d-brown);
}

.grey3 {
    color: var(--grey3);
}

// flex utils

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

// 

h1 {
    color: var(--d-brown);
    font-size: 24px;
    font-weight: 900;
    margin-top: 0;
}

.appbar {
    margin: 50px 20px 20px;
}

.container {
    padding: 0 20px;
}

.input_group {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 700;
        color: var(--d-brown);
        margin-bottom: 10px;
    }

    input {
        box-sizing: border-box;
        background-color: transparent;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom: 1px solid var(--light);
        font-size: 18px;
        padding: 11px 4px;
        outline: none;

        &:focus-visible {
            border-bottom: 1px solid var(--input_line);
        }
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--default);
        // opacity: 1;
        /* Firefox */
    }
}


.slider_dot_container {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 19px;
}

.slider_dot {
    width: 7px;
    height: 7px;
    background-color: #BBB8AF;
    border-radius: 50px;
}

.onboarding_slide {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 36px 0;
    align-items: center;

    .title {
        font-size: 22px;
        font-weight: 900;
        color: var(--main);
        margin-bottom: 8px;
    }

    img {
        margin-top: 40px;
    }
}

.bottom_nav {
    border-radius: 20px 20px 0 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;

    .bottom_nav_button {
        margin: 10px;
        padding: 2px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--grey3);
        font-size: 10px;
        gap: 4px;
    }
}

.homepage {
    background-image: url('../images/main_bg_illust.png');
    background-size: cover;
}

.home_bottom {
    background-color: var(--input);
    padding: 20px 0;
}

.home_card {
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    padding: 24px 16px;
    width: 194px;
    height: 216px;
    flex-shrink: 0;
}

.home_top_button {
    padding: 0;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border-style: none;
    font-weight: 700;
    color: var(--input_line);
    font-size: 16px;

    .dot {
        width: 5px;
        height: 5px;
        background-color: #BBB8AF;
        border-radius: 50px;
        background-color: var(--main);
        margin-right: 6px;
    }
}

.home_top_shortcut {
    margin: 42px 0;
    display: inline-block;
    border-left: 2px solid #E9E1D3;
    padding: 4px 0 4px 12px;
}

.primary {
    color: var(--main);
}

.leaf_form_lobby {
    background-image: url('../images/잎편지쓰기배경.png');
    background-size: cover;
    flex-grow: 1;
}

.router-link-exact-active {
    svg {
        fill: var(--main);
    }

    .botton_nav_button_text {
        font-weight: 700;
        color: #4F5254;
    }
}

.vase_garden {
    background-image: url('../images/화분보관함배경.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 64px);
}

.vase_group {
    margin: 0 20px;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-image: url('../images/화분선반.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 15px;
}